/* Body customization */
body {
	font-family: "JetBrainsMono Nerd Font";
}

/* Card customization */
.card {
	background-color: #292929;
	transition: all 0.3s ease;
	border: 1px solid #727272;
	border-radius: 6px;
}
/* animation for card */
/* .card:hover {
	transform: translateY(-5px);
} */

/* Footer customization */
.footer-shadow {
	box-shadow: 0px -4px 6px rgb(0, 0, 0);
}
.custom-footer-text {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap; /* Prevent text from wrapping */
	overflow: hidden; /* Hide overflow if the text is too long */
	text-overflow: ellipsis; /* Add ellipsis (...) if text is cut off */
}
